<style>


section {
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  height: 190px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.section {
  width: 100%;
}

body {
  margin: 0;
  padding: 10px;
  background: linear-gradient(to bottom, #1546a2, #22a16c);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  height: 350px;
  padding: 10px 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 20px;
  color: white;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jjk {
  width: 150px;
  height: auto;
}

.Menu {
  display: flex;
  gap: 20px;
  max-width: 100%;
  overflow-x: hidden;
}

.Menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.Menu a:hover {
  text-decoration: underline;
}

.right-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.right-side {
  text-align: right;
}

footer {
  background-color: #369bdf;
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 0.9rem;  
  margin-top: 10px;
}

.one {
  background-color: #1546a2;
  padding: 20px;
}

.two {
  background-color: #1083bd;
  padding: 20px;
}

.three {
  background-color: #16699c;
  padding: 20px;
}

.four {
  background-color: #0f4d80;
  padding: 20px;
}

.five {
  background-color: #0d5493;
  padding: 20px;
}

</style>